/* Resets */
body {
    background: #222;
    padding-top: 70px;
}

code {
    background: #333;
}

h1, h2 {
    margin-top: 30px;
    text-shadow: 0 0 10px #aaa;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

h3, h4, h5, h6 {
    margin-top: 20px;
}

p, ul, li {
    color: #ddd;
}

/* Styles */
blockquote {
  background: #444;
  color: #eee;
  border-left: 10px solid #ccc;
  display: inline-block;
  margin: 5px 10px;
  padding: 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #eee;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote .source {
    display: block;
    color: #999;
    text-align: right;
}

body a:hover, body a:focus {
    color: #8DC2F0;
}

.body-wrapper {
    min-width: 320px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.code-snippet {
    margin: 10px 0;
}

.code-snippet pre {
    background-color: inherit;
    border: none;
    white-space: pre;
}

.content {
    padding: 0 10px;
    width: 100%;
}

.content-wrapper {
    min-width: 280px;
    max-width: 1060px;
    overflow-x: hidden;
}

#copyright {
	clear: both;
	border-top: 3px #CCC double;
    margin-top: 20px;
	padding-top: 10px;
}

.download {
    font-size: 16px;
    text-align: center;
}

.footer-text {
	font-size: 80%;
	color: #CCC;
	text-align: center;
	margin-bottom: 20px;
}

.gallery {
    margin: 15px auto;
}

.gallery ul {
    list-style: none;
    padding: 0;
}

.gallery ul a:hover {
    text-decoration: none;
}

.gallery ul a:hover img {
	border: 5px solid #444;
}

.gallery ul img {
	border: 5px solid #333;
    border-radius: 4px;
}

.gallery ul li {
    display: inline;
    margin: 0 3px;
}

li.tabbed {
    margin-left: 20px;
}

.navbar {
    border: 1px solid #999;
    box-shadow: 0 0 10px 3px #222;
    border-radius: 4px;
    margin: 20px;
    opacity: 0.95;
}

.outer-video-wrapper {
    display: none;
    margin: 0 auto;
    max-width: 800px;
}

.projects .toggler {
    background-color: #181818;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: block;
    padding: 15px;
}

.projects .toggler:hover {
    background-color: inherit;
    text-shadow: 0 0 6px #ccc;
}

.projects a.toggler {
    text-decoration: none;
}

.projects .toggler h5 {
    margin: 0;
}

.projects .project-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.resume-printable-link {
    display: block;
    margin: 15px 0 0 0;
}

.spaceless-paragraphs p {
    margin-bottom: 3px;
}

.video-toggle {
    margin: 10px 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 10px;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: 0.5s ease all; /* Safari/Chrome */
    -moz-transition: 0.5s ease all; /* Firefox */
    -ms-transition: 0.5s ease all; /* IE10 */
    -o-transition: 0.5s ease all; /* Opera */
    transition: 0.5s ease all; /* Future Browsers */
    display: block;
}

.view-animate.ng-enter {
    margin-left: 30%;
    opacity: 0;
}

.view-animate.ng-enter.ng-enter-active {
    margin-left: 0;
    opacity: 1;
}

.view-animate.ng-leave.ng-leave-active + .view-animate.ng-enter.ng-enter-active {
    /* Delay enter animation if a view is exiting */
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.view-animate.ng-leave.ng-leave-active {
    margin-left: 30%;
    opacity: 0;
}

@media (max-width: 767px) {
    .navbar-header .navbar-brand {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 200px;
    }
    .projects .toggler.active {
        display: none;
    }

    .projects .project-section {
        display: none;
    }

    .projects .project-section.active {
        display: block;
    }
}

@media (min-width: 768px) {
    .projects .toggler {
        display: none;
    }
}
