<div>
    <h2>Welcome</h2>
    <p>First of all, thank you for visiting my website. I would like to use this opportunity to introduce myself, as well as what I have accomplished. I am currently a <a href="http://www.softeng.uwaterloo.ca/" target="_blank">Software Engineering</a> undergrad (year 2015) at <a href="http://uwaterloo.ca/" target="_blank">University of Waterloo</a>, and I am working really hard to obtain the <a href="http://www.ironring.ca/" target="_blank">iron ring</a>.</p>
    <p>Besides schoolwork, I also work on personal projects to maintain my development skills, and my work is all available on the Projects page. By going through my website, you will have an opportunity to learn more about me.</p>
    <h4>But more importantly, I hope you enjoy my website!</h4>

    <h2>About Me</h2>
    <div class="spaceless-paragraphs">
        <p><b>Star Sign:</b> Leo</p>
        <p><b>Nationality:</b> Canadian</p>
        <p><b>Favourite Quote:</b></p>
        <blockquote>Don't try to be like Jackie. There is only one Jackie. Study computers instead.<p class="source">- Jackie Chan</p></blockquote>
        <p><b>Likes:</b></p>
        <ul>
            <li>Japanese culture</li>
            <li>Software design patterns that warm my heart</li>
            <li>Computers with SSDs on PCI-E</li>
            <li>Weekends without assignments</li>
        </ul>
        <p><b>Dislikes:</b></p>
        <ul>
            <li>Professors who cannot teach and does not put any efforts into it</li>
            <li>Annoying phone advertisements</li>
            <li>Irresponsible property managers</li>
        </ul>
    </div>

    <h2>My Cool Stories</h2>
    <p><i>because I heard you like cool stories...</i></p>
    <h4>Why Software Engineering?</h4>
    <p>When I was applying for University of Waterloo programs, I decided to take Computer Science because I was (and still am) good at programming and I had not heard of Software Engineering. However, I could not find Computer Science since I did not know which faculty it belonged to. So, I searched through the faculty of Science because "Computer Science" has the word "Science" in it, but Computer Science is in fact in the Math faculty. After that, I randomly searched across different faculties, and I came across Software Engineering. I read the description of the program, and noticed that this is also a program related to programming. So, I told myself, "Meh! Close enough...", and TAH-DAHHH! I am now a candidate for the Bachelor of Applied Science in Software Engineering! Actually, I am very glad that I did not find Computer Science. Otherwise, I would not have taken such awesome program.</p>
    <h4>My Very First Gold Medal</h4>
    <p>When I was in grade seven, my school held a swimming contest. The four available strokes are freestyle, breaststroke, backstroke, and butterfly stroke. Since I knew all four styles, I applied for all available events. Even though I was pretty good at swimming, I stood no chance the best swimmers in my school, and I lost in the first three events. However, when I attended to the butterfly stroke event, surprisingly, I was the only participant since butterfly stroke was not very popular. So, I took my time and swam across the pool. That is how I got my very first gold medal. How awesome is that?</p>
</div>
