<div>
    <h2>Welcome</h2>
    <p>First of all, thank you for visiting my website. I would like to use this opportunity to introduce myself, as well as what I have accomplished. I am currently a <a href="http://www.softeng.uwaterloo.ca/" target="_blank">Software Engineering</a> undergrad (year 2015) at <a href="http://uwaterloo.ca/" target="_blank">University of Waterloo</a>, and I am working really hard to obtain the <a href="http://www.ironring.ca/" target="_blank">iron ring</a>.</p>
    <p>Besides schoolwork, I also work on personal projects to maintain my development skills, and my work is all available on the Projects page. By going through my website, you will have an opportunity to learn more about me.</p>
    <h4>But more importantly, I hope you enjoy my website!</h4>

    <h2>About Me</h2>
    <div class="spaceless-paragraphs">
        <p><b>Star Sign:</b> Leo</p>
        <p><b>Nationality:</b> Canadian</p>
        <p><b>Favourite Quote:</b> <i>"Don't try to be like Jackie. There is only one Jackie. Study computers instead."</i> - Jackie Chan</p>
        <p><b>Likes:</b></p>
        <ul>
            <li>Friendly people</li>
            <li>Software design patterns that warm my heart</li>
            <li>Computers with SSDs on PCI-E</li>
            <li>Weekends without assignments</li>
        </ul>
        <p><b>Dislikes:</b></p>
        <ul>
            <li>Professors who cannot teach and does not put any efforts into it</li>
            <li>Arrogant people</li>
            <li>Annoying phone advertisements</li>
            <li>Irresponsible property managers</li>
        </ul>
    </div>
</div>
