<div class="row">
    <div class="col-md-3">
        <ul class="nav">
            <li><a>Archetype</a></li>
            <li><a>Tales of Etherea</a></li>
            <li><a>Cryptative</a></li>
            <li><a>AeroInvasion</a></li>
            <li><a>MIPS Debugger</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="project-section">
            <h2>Archetype</h2>
        </div>
        <div class="project-section">
            <h2>Tales of Etherea</h2>
        </div>
        <div class="project-section">
            <h2>Cryptative</h2>
        </div>
        <div class="project-section">
            <h2>AeroInvasion</h2>
        </div>
        <div class="project-section">
            <h2>MIPS Debugger</h2>
        </div>
    </div>
</div>
